{% extends "base.html" %}


{% block content %}

<div class="pure-g-r content-ribbon" id="login">
    <div class="pure-u-1">
            <h3>Informe os dados de cadastro</h3>
            <form action="#contato" class="pure-form pure-form-aligned" method="post">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        <div class="pure-control-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errolist">
                                {% for error in field.errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
                <p>
                    Não é cadastrado? <a href="{%url 'accounts:register' %}" title="">Cadastre-se</a> <br />
                    Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
                </p>
            </form>
        </div>
    </div>
{% endblock %}